@media (min-width:400px) {

    
   
    .footer-container{
        width: 100%;
        color: white;
        background-color: rgb(92, 92, 95);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5%;
        padding-left: 9%;
        box-sizing: border-box;

    }

    .col{
        display: flex;
        flex-direction: column;
        width:30%

    }

    .col h4{
        font-weight: lighter;
        font-size: 1rem;
    }


    .col ul{
        list-style: none;
        padding-top: 2%;
    }

    .col ul a{
        text-decoration: none;
        color:white;
        font-size: 0.8rem;
        font-weight: lighter;

    }

    .footer-icon-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 40%;
        margin-left: -2%;
        margin-top: 5%;
    }

    .footer-icon-container img{
        width: 28%;
    }

    .matn{
        text-align: right;
        text-justify: auto;
        width: 50%;
       
        margin-top: -5%;
        margin-right: -3%;
        
    }

    .matn h2{
        line-height: 5rem;
        font-style: italic;
        color: orange;
        padding-top: 2%;
        
       
    }

    .matn p{
        font-weight: lighter;
    }

    .matn button{
        width:20%;
        height: 25px;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        background-color: #d8d6d6;
        box-shadow: 3px 3px 2px rgb(122, 119, 119);
        cursor: pointer;
        margin-top: 5%;
      

        
    }

   
    
}


@media (min-width:600px) {
    
}


@media (min-width:768px) {
    .footer-icon-container img{
        width: 20%;
    }

    
}

